# Ignoriere plattformspezifische Dateien und kompilierte Dateien
target/
out/

# Ignoriere persönliche IntelliJ-Einstellungen
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/libraries/
*.iws
*.iml

# Systemdateien
.DS_Store
Thumbs.db