.root
{
    -fx-background-color: #121212;
    -fx-font-family: "Montserrat";
}

#headingStartScreen
{
    -fx-font-size: 64px;
    -fx-text-fill: #FFFFFF;
    -fx-letter-spacing: -2.5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
    -fx-padding: 0 0 50 0;
    -fx-alignment: center;
}

.button
{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 100;
    -fx-cursor: hand;
    -fx-padding: 14 45 14 45;
    -fx-background-insets: 0;
}

#buttonStart
{
    -fx-background-color: #1DB954;
    -fx-text-fill: #121212;
}

#buttonStart:hover
{
    -fx-background-color: #1ed760;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(gaussian, rgba(29, 185, 84, 0.4), 20, 0, 0, 0);
}

#buttonEnd
{
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 100;
    -fx-text-fill: #ffffff;
}

#buttonEnd:hover
{
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #ffffff;
}